.container {
  display: flex;
  gap: 2rem;
  width: 100%;
  min-width: 30rem;
  justify-content: flex-start;
  align-items: flex-start;

  --background-color: #f3f4f627;
}

.canvas {
  flex: 1;
  aspect-ratio: 16/10;
  position: relative;
  background-color: var(--background-color);
  overflow: hidden;
}

.draggableItem {
  position: relative;
  background-color: #ef4444;
  cursor: grab;
  border-radius: 0.5rem;
  touch-action: none;
  user-select: none;

  .resizeHandle {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 2;

    &:hover {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  .top,
  .bottom {
    height: 8px;
    width: calc(100% - 16px);
    left: 8px;
    cursor: ns-resize;
  }

  .left,
  .right {
    width: 8px;
    height: calc(100% - 16px);
    top: 8px;
    cursor: ew-resize;
  }

  .top {
    top: 0;
    transform: translateY(-50%);
  }

  .right {
    right: 0;
    transform: translateX(50%);
  }

  .bottom {
    bottom: 0;
    transform: translateY(50%);
  }

  .left {
    left: 0;
    transform: translateX(-50%);
  }

  .topLeft,
  .topRight,
  .bottomLeft,
  .bottomRight {
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }

  .topLeft {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    cursor: nwse-resize;
  }

  .topRight {
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    cursor: nesw-resize;
  }

  .bottomLeft {
    bottom: 0;
    left: 0;
    transform: translate(-50%, 50%);
    cursor: nesw-resize;
  }

  .bottomRight {
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    cursor: nwse-resize;
  }
}
