.Root {
  --border-radius: 6px;
  --padding: 0px;

  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  height: 32px;
  touch-action: none;
  border-radius: var(--border-radius);
  outline-offset: 1.5px;
  // outline: .5px solid rgba(255, 255, 255, 0.1);

  &:active:not([data-disabled]),
  .HitBox:active:active {
    cursor: grabbing;
  }

  &:has(:focus-visible) {
    outline: .5px solid rgba(255, 255, 255, 0.15);
  }

  .Track {
    background: #04193EB3;
    position: relative;
    flex-grow: 1;
    height: 100%;
    padding: var(--padding);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  &[data-disabled] .HitBox:active {
    cursor: default;
  }

  [data-disabled] & {
    opacity: 0.3;
  }

  .Label {
    position: absolute;
    top: 0;
    right: 8px;
    padding: 2px;
    padding-left: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    pointer-events: none;
    font-variant-numeric: tabular-nums;
    opacity: 0;
    transition: opacity 0.2s ease-out;
  }

  &:hover:not([data-disabled]) .Label,
  &:active .Label,
  &:focus-within .Label {
    opacity: 0.8;
    transition: opacity 0.05s ease-out;
  }

  [data-disabled] & {
    opacity: 0.3;
  }

  .Bar {
    height: 100%;
    border-radius: calc(var(--border-radius) - var(--padding));
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    transition: background-color 0.2s ease-out;
  }

  &:hover:not([data-disabled]) .Bar,
  &:active .Bar,
  &:focus-within:not([data-disabled]) .Bar {
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color 0.05s ease-out;
  }

  .Knob {
    position: absolute;
    top: 6px;
    bottom: 6px;
    left: 0;
    width: 2px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    transition: background-color, opacity 0.2s ease-out;
  }

  &:hover:not([data-disabled]) .Knob,
  &:active .Knob,
  &:focus-within:not([data-disabled]) .Knob {
    background-color: rgba(255, 255, 255, 1);
    transition: background-color, opacity 0.05s ease-out;
  }

  &:not(:hover):not(:focus-within) .Knob {
    opacity: 1 !important;
  }

  .HitBox {
    display: block;
    width: 8px;
    height: 100%;
    cursor: grab;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: -4px;
      width: 6px;
      height: 100%;
    }

    &:focus-visible {
      outline: none;
    }
  }

  .Icon {
    position: absolute;
    top: 0;
    left: 4px;
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0.5;
    padding: 4px;

    >svg {
      stroke-width: 1.5px;
      width: 100%;
      height: 100%;
    }
  }

  &:hover:not([data-disabled]) .Icon,
  &:focus-within .icon {
    opacity: 0.8;
  }
}