.debug {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  font-variant-numeric: tabular-nums;
}

.Root {
  --border-radius: 12px;
  --padding: 2px;
  --disabled: [data-disabled];

  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  min-width: 300px;
  height: 42px;
  touch-action: none;
  border-radius: var(--border-radius);

  &:active:not([data-disabled]) {
    cursor: grabbing;
  }

  &:has(:focus-visible) {
    outline-offset: 1.5px;
    outline: .5px solid rgba(255, 255, 255, 0.2);
  }

  .Track {
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
    flex-grow: 1;
    height: 100%;
    padding: var(--padding);
    border-radius: var(--border-radius);
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  .Thumb {
    display: block;
    width: 20px;
    height: 60px;
    cursor: grab;

    &:focus-visible {
      outline: none;
    }

  }

  &[data-disabled] .Thumb {
    cursor: default;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 12px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0.5;

    >svg {
      stroke-width: 1.5px;
    }
  }

  &:hover:not([data-disabled]) .icon {
    opacity: 1;
  }

  [data-disabled] & {
    opacity: 0.3;
  }

  .label {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 16px;
    color: white;
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover:not([data-disabled]) .label,
  &:focus-within:not([data-disabled]) .label {
    opacity: 1;
  }

  [data-disabled] & {
    opacity: 0.3;
  }

  .temp {
    width: 32px;
    height: 100%;
    border-radius: calc(var(--border-radius) - var(--padding));
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: end;

    &::after {
      content: '';
      display: block;
      width: 2px;
      height: 60%;
      margin-right: 8px;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  :hover:not([data-disabled]) .temp,
  :focus-within:not([data-disabled]) .temp {
    background-color: rgba(255, 255, 255, 0.25);

    &::after {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  [data-disabled] & {
    background-color: rgba(255, 255, 255, 0.1);

    &::after {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}