.debug {
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4px;
  font-variant-numeric: tabular-nums;
}

.root {
  --border-radius: 12px;
  --padding: 0px;
  --disabled: [data-disabled];

  position: relative;
  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
  width: 100%;
  min-width: 300px;
  height: 42px;
  touch-action: none;
  border-radius: var(--border-radius);

  &:active:not([data-disabled]) {
    cursor: grabbing;
  }

  &:has(:focus-visible) {
    outline-offset: 1.5px;
    outline: .5px solid rgba(255, 255, 255, 0.2);
  }

  .track {
    background-color: rgba(0, 0, 0, 0.25);
    position: relative;
    flex-grow: 1;
    height: 100%;
    padding: var(--padding);
    border-radius: var(--border-radius);
    overflow: hidden;
  }

  &[data-disabled] {
    opacity: 0.5;
  }

  .thumb {
    display: block;
    width: 20px;
    height: 60px;
    cursor: grab;

    &:focus-visible {
      outline: none;
    }

  }

  &[data-disabled] .Thumb {
    cursor: default;
  }

  .icon {
    position: absolute;
    top: 0;
    left: 14px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0.5;
    // border: 1px solid yellow;

    >svg {
      stroke-width: 1.5px;
    }
  }

  &:hover:not([data-disabled]) .icon,
  &:focus-within .icon {
    opacity: 0.8;
  }

  [data-disabled] & {
    opacity: 0.3;
  }

  .label {
    position: absolute;
    top: 0;
    right: 14px;
    padding: 2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    opacity: 0.5;
    pointer-events: none;
    // border: 1px solid yellow;
  }

  &:hover:not([data-disabled]) .label,
  &:focus-within:not([data-disabled]) .label {
    opacity: 0.8;
  }

  [data-disabled] & {
    opacity: 0.3;
  }

  .bar {
    height: 100%;
    border-radius: calc(var(--border-radius) - var(--padding));
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;
  }

  &:hover:not([data-disabled]) .bar,
  &:focus-within:not([data-disabled]) .bar {
    background-color: rgba(255, 255, 255, 0.25);
  }

  .knob {
    position: absolute;
    top: 8px;
    bottom: 8px;
    left: 0;
    width: 2px;
    border-radius: 1px;
    background-color: rgba(255, 255, 255, 0.25);
    transition: opacity 0.1s ease-in-out;
  }

  &:hover:not([data-disabled]) .knob,
  &:focus-within:not([data-disabled]) .knob {
    background-color: rgba(255, 255, 255, 1);
  }
}