.root {
  display: grid;
  grid-template-columns: 1fr 0.75fr;
  flex-shrink: 0;
  // overflow: hidden;
  border-radius: 99rem;

  :nth-child(1) {
    grid-area: 1 / 1 / 2 / 3;
  }

  :last-child {
    grid-area: 1 / 1 / 2 / 2;
  }

  .childContainer {
    border-radius: 99rem;
    z-index: 10;
  }
}

.Trigger {
  all: unset;
  background: #56647d32;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 50%;
  border-radius: 99rem;
  display: grid;
  z-index: 10;
  height: 48px;

  svg {
    display: block;
  }

  &>div {
    grid-area: 1 / 1;
  }

  &:hover,
  &:focus-visible {
    background: #56647d51;
  }
}

.Viewport {
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: relative;

  .overlay {
    position: absolute;

    inset: -10rem;
    left: -14rem;
    right: -14rem;
    bottom: -14rem;

    pointer-events: none;
    // background-image: radial-gradient(black 30%, transparent 70%);

    // background: red;
    backdrop-filter: blur(1rem);
    // background-image: radial-gradient(#172b4da7 20%, transparent 76%);
    background-image: radial-gradient(#172b4dc7 0%, transparent 100%);
    mask-image: radial-gradient(black 30%, transparent 70%);
  }

  .Item {
    font-size: 13px;
    line-height: 1;
    color: var(--violet-11);
    border-radius: 3px;
    display: flex;
    align-items: center;
    height: 48px;
    border-radius: 99rem;
    position: relative;
    user-select: none;
    display: flex;
    color: white;
    background: transparent;
    gap: 12px;
    transition: background 0.1s ease-out;
    padding-right: 20px;
    // backdrop-filter: blur(10px);

    outline: none;

    &:hover:not([data-selected="true"]),
    &:focus-within:not([data-selected="true"]) {
      background: #56647d32;

      .Label {
        color: white;
      }
    }

    .Icon {
      flex-shrink: 0;
      background: #56647d89;
      border-radius: 99rem;
      width: 48px;
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 20px;
        height: 20px;
      }
    }

    .Label {
      display: flex;
      flex-direction: column;
      gap: 4px;
      letter-spacing: 0.02em;
      color: #bfc9db;
    }

    &[data-selected="true"] {
      // background: transparent;

      .Icon {
        background: #8791a231;

        svg {
          opacity: 0.5;
        }
      }

      .Label {
        // color: #8791a2;

        .SelectedLabel {
          font-size: 11px;
          line-height: 1;
          letter-spacing: 0.05em;
          opacity: 0.75;
        }
      }
    }

  }
}