.content {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
}

.overlay {
  position: absolute;

  inset: -10rem;
  left: -14rem;
  right: -14rem;
  bottom: -14rem;

  pointer-events: none;
  z-index: -1;

  backdrop-filter: blur(1rem);
  background-image: radial-gradient(#172b4dc7 0%, transparent 100%);
  mask-image: radial-gradient(black 30%, transparent 70%);
}

// Select item

.item {
  position: relative;
  height: 48px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  padding-left: 40px;
  font-size: 13px;
  letter-spacing: 0.02em;
}

.checkbox {
  position: absolute;
  left: 16px;
  svg {
    display: block;
  }
}

.highlight {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 24px;
}
