.content {
  position: relative;
  background: rgba(255, 255, 0, 0.2);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.overlay {
  position: absolute;

  inset: -10rem;
  left: -14rem;
  right: -14rem;
  bottom: -14rem;

  pointer-events: none;
  z-index: -1;

  backdrop-filter: blur(1rem);
  background-image: radial-gradient(#172b4dc7 0%, transparent 100%);
  mask-image: radial-gradient(black 30%, transparent 70%);
}

.item {
  background: rgba(255, 255, 0, 0.2);
  position: relative;
  padding: 10px;
}

.highlight {
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 0, 0.3);
}
