.container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  height: 100vh;
  width: 100%;
  min-width: 30rem;
  --background-color: #f3f4f627;
}

.canvas {
  flex: 1;
  position: relative;
  background-color: var(--background-color);
  border-radius: 1rem;
  overflow: hidden;
}

.movableElement {
  position: absolute;
  width: 30%;
  aspect-ratio: 16/10;
  background-color: #ef4444;
  border-radius: 1rem;
  transition: transform 0.1s ease-out;
}

.constraintsArea {
  position: relative;
  width: 12rem;
  height: 12rem;
  background-color: var(--background-color);
  border-radius: 0.5rem;
  border: 2px solid #e5e7eb;
}

.draggableItem {
  width: 30%;
  aspect-ratio: 16/10;
  background-color: #ef4444;
  cursor: grab;
  border-radius: 0.25rem;

  &:active {
    cursor: grabbing;
  }
}
